xGridMin = 100001.5;
xGridMax = 100001.51;
nXGrid = 2; 
nRFCycles = 10.1;
nStepsPerCycle = 40.0; // This "Cycle" is now the cyclotron period of the species
nJpCycles = 1;
nJpPerCycle = 20;
eField_fName = "data/kj_single_1d.nc";
gc_fName = "data/gc_terms_e.nc";
species_number = 0;//2;//0;
species_amu = 2.0;//1.0;//0.00054;
species_Z = 1.0;//1.0;//-1.0;
runIdent = "2keV_e";
nPx = 20;
nPy = 20;
nPz = 20;
nThermal = 3;
nPhi = 0; // Not used when -DCYLINDRICAL_INPUT_FIELDS=0
ky = 100; // kPar for this case
T_keV = 0.001;
